/* button component */
button {
    font-size: var(--body-medium);
    color: var(--dark-grey-400);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius-medium);
    border: none;
}

/* button primary */
.button__primary {
    background-color: var(--dark-grey-400);
    color: var(--light-grey-100);
}

.button__primary:hover {
    background-color: var(--dark-grey-300);
}

.button__primary:active {
    background-color: var(--dark-grey-200);
}

.button__primary--disabled {
    background-color: var(--light-grey-500);
    color: var(--dark-grey-400-opacity);
}

/* button secondary */
.button__secondary {
    background-color: var(--light-grey-100);
}

.button__secondary:hover {
    background-color: var(--light-grey-200);
}

.button__secondary:active {
    background-color: var(--light-grey-300);
}

.button__secondary--disabled {
    background-color: var(--light-grey-500);
    color: var(--dark-grey-400-opacity);
}

/* button tertiary */
.button__tertiary {
    background-color: transparent;
    border: 1px solid var(--dark-grey-400);
}

.button__tertiary:hover {
    color: var(--dark-grey-300);
    border: 1px solid var(--dark-grey-300);
}

.button__tertiary:active {
    color: var(--dark-grey-200);
    border: 1px solid var(--dark-grey-200);
}

.button__tertiary--disabled {
    background-color: transparent;
    color: var(--light-grey-500);
    border: 1px solid var(--light-grey-500);
}

/* button ghost */
.button__ghost {
    background-color: transparent;
}

.button__ghost:hover {
    background-color: var(--light-grey-200);
}

.button__ghost:active {
    background-color: var(--light-grey-300);
}

.button__ghost--disabled {
    background-color: transparent;
    color: var(--dark-grey-400-opacity);
}

/* button destsecondary */
.button__destructive {
    background-color: var(--red-100);
    color: var(--light-grey-100);
}

.button__destructive:hover {
    background-color: var(--red-200);
}

.button__destructive:active {
    background-color: var(--red-300);
}

.button__destructive--disabled {
    background-color: var(--red-100-opacity);
    color: var(--light-grey-100);
}

/* button icon component */
.button-icon {
    padding: var(--spacing-x-small) var(--spacing-x-small);
    border-radius: var(--border-radius-large);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* button icon primary */
.button-icon__primary, .button-icon__primary svg {
    background-color: var(--dark-grey-400);
    fill: var(--light-grey-100);
}

.button-icon__primary:hover {
    background-color: var(--dark-grey-300);
}

.button-icon__primary:active {
    background-color: var(--dark-grey-200);
}

.button-icon__primary--disabled, .button-icon__primary--disabled svg {
    background-color: var(--light-grey-500);
    fill: var(--dark-grey-400-opacity);
}

/* button icon secondary */
.button-icon__secondary {
    background-color: var(--light-grey-100);
}

.button-icon__secondary:hover {
    background-color: var(--light-grey-200);
}

.button-icon__secondary:active {
    background-color: var(--light-grey-300);
}

.button-icon__secondary--disabled, .button-icon__secondary--disabled svg {
    background-color: var(--light-grey-500);
    fill: var(--dark-grey-400-opacity);
}

/* button icon tertiary */
.button-icon__tertiary {
    background-color: transparent;
    border: 1px solid var(--dark-grey-400);
}

.button-icon__tertiary:hover {
    border: 1px solid var(--dark-grey-300);
}

.button-icon__tertiary:active {
    border: 1px solid var(--dark-grey-200);
}

.button-icon__tertiary--disabled {
    background-color: transparent;
    border: 1px solid var(--light-grey-500);
}

.button-icon__tertiary--disabled svg {
    fill: var(--light-grey-500);
}

/* button icon ghost */
.button-icon__ghost {
    background-color: transparent;
}

.button-icon__ghost:hover {
    background-color: var(--light-grey-200);
}

.button-icon__ghost:active {
    background-color: var(--light-grey-300);
}

.button-icon__ghost--disabled, .button-icon__ghost--disabled svg {
    background-color: transparent;
    fill: var(--dark-grey-400-opacity);
}

/* button icon destructive */
.button-icon__destructive, .button-icon__destructive svg {
    background-color: var(--red-100);
    fill: var(--light-grey-100);
}

.button-icon__destructive:hover {
    background-color: var(--red-200);
}

.button-icon__destructive:active {
    background-color: var(--red-300);
}

.button-icon__destructive--disabled {
    background-color: var(--red-100-opacity);
}

.button-icon__destructive--disabled svg {
    fill: var(--light-grey-100);
}