/* button icon component */
.component__button-icon h3 {
    font-size: var(--body-x-small);
}

.button-icon {
    padding: var(--spacing-x-small) var(--spacing-x-small);
    border-radius: var(--border-radius-large);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height: 40px;
}

/* button icon primary */
.button-icon__primary, .button-icon__primary svg {
    background-color: var(--dark-grey-400);
    fill: var(--light-grey-100);
}

.button-icon__primary--hover, .button-icon__primary--hover svg {
    background-color: var(--dark-grey-300);
    fill: var(--light-grey-100);
}

.button-icon__primary--press, .button-icon__primary--press svg {
    background-color: var(--dark-grey-200);
    fill: var(--light-grey-100);
}

.button-icon__primary--disabled, .button-icon__primary--disabled svg {
    background-color: var(--light-grey-500);
    fill: var(--dark-grey-400-opacity);
    cursor: auto;
}

/* button icon secondary */
.button-icon__secondary {
    background-color: var(--light-grey-100);
}

.button-icon__secondary--hover {
    background-color: var(--light-grey-200);
}

.button-icon__secondary--press {
    background-color: var(--light-grey-300);
}

.button-icon__secondary--disabled, .button-icon__secondary--disabled svg {
    background-color: var(--light-grey-500);
    fill: var(--dark-grey-400-opacity);
    cursor: auto;
}

/* button icon ghost */
.button-icon__ghost {
    background-color: transparent;
}

.button-icon__ghost--hover {
    background-color: var(--light-grey-200);
}

.button-icon__ghost--press {
    background-color: var(--light-grey-300);
}

.button-icon__ghost--disabled, .button-icon__ghost--disabled svg {
    background-color: transparent;
    fill: var(--dark-grey-400-opacity);
    cursor: auto;
}

/* button icon destructive */
.button-icon__destructive, .button-icon__destructive svg {
    background-color: var(--red-100);
    fill: var(--light-grey-100);
}

.button-icon__destructive--hover, .button-icon__destructive--hover svg {
    background-color: var(--red-200);
    fill: var(--light-grey-100);
}

.button-icon__destructive--press, .button-icon__destructive--press svg {
    background-color: var(--red-300);
    fill: var(--light-grey-100);
}

.button-icon__destructive--disabled {
    background-color: var(--red-100-opacity);
    cursor: auto;
}

.button-icon__destructive--disabled svg {
    fill: var(--light-grey-100);
}

/* grid placement */
.component__button-icon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--spacing-medium);
    align-items: center;
}

.button-icon__heading-primary {
    grid-column: 1/2;
    grid-row: 2/3;
}

.button-icon__heading-secondary {
    grid-column: 1/2;
    grid-row: 3/4;    
}

.button-icon__heading-ghost {
    grid-column: 1/2;
    grid-row: 4/5;    
}

.button-icon__heading-destructive {
    grid-column: 1/2;
    grid-row: 5/6;    
}

.button-icon__heading-regular {
    grid-column: 2/3;
    grid-row: 1/2;    
}

.button-icon__heading-hover {
    grid-column: 3/4;
    grid-row: 1/2;    
}

.button-icon__heading-press {
    grid-column: 4/5;
    grid-row: 1/2;    
}

.button-icon__heading-disabled {
    grid-column: 5/6;
    grid-row: 1/2;    
}

.button-icon__primary {
    grid-column: 2/3;
    grid-row: 2/3;
}

.button-icon__primary--hover {
    grid-column: 3/4;
    grid-row: 2/3;
}

.button-icon__primary--press {
    grid-column: 4/5;
    grid-row: 2/3;
}

.button-icon__primary--disabled {
    grid-column: 5/6;
    grid-row: 2/3;
}

.button-icon__secondary {
    grid-column: 2/3;
    grid-row: 3/4;
}

.button-icon__secondary--hover {
    grid-column: 3/4;
    grid-row: 3/4;
}

.button-icon__secondary--press {
    grid-column: 4/5;
    grid-row: 3/4;
}

.button-icon__secondary--disabled {
    grid-column: 5/6;
    grid-row: 3/4;
}

.button-icon__ghost {
    grid-column: 2/3;
    grid-row: 4/5;
}

.button-icon__ghost--hover {
    grid-column: 3/4;
    grid-row: 4/5;
}

.button-icon__ghost--press {
    grid-column: 4/5;
    grid-row: 4/5;
}

.button-icon__ghost--disabled {
    grid-column: 5/6;
    grid-row: 4/5;
}

.button-icon__destructive {
    grid-column: 2/3;
    grid-row: 5/6;    
}

.button-icon__destructive--hover {
    grid-column: 3/4;
    grid-row: 5/6;    
}

.button-icon__destructive--press {
    grid-column: 4/5;
    grid-row: 5/6;    
}

.button-icon__destructive--disabled {
    grid-column: 5/6;
    grid-row: 5/6;    
}

/* tablet */
@media screen and (min-width: 768px) {  
    .component__button-icon {
        gap: var(--spacing-x-large);
    }
    
    .component__button-icon h3 {
        font-size: var(--body-medium);
    }

    .button-icon {
        font-size: var(--body-medium);
    }
}