/* button component */
button {
    font-size: var(--body-medium);
    color: var(--dark-grey-400);
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius-medium);
    border: none;
}

/* button primary */
.button__primary {
    background-color: var(--dark-grey-400);
    color: var(--light-grey-100);
}

.button__primary:hover {
    background-color: var(--dark-grey-300);
}

.button__primary:active {
    background-color: var(--dark-grey-200);
}

.button__primary--disabled {
    background-color: var(--light-grey-500);
    color: var(--dark-grey-400-opacity);
}

/* button secondary */
.button__secondary {
    background-color: var(--light-grey-100);
}

.button__secondary:hover {
    background-color: var(--light-grey-200);
}

.button__secondary:active {
    background-color: var(--light-grey-300);
}

.button__secondary--disabled {
    background-color: var(--light-grey-500);
    color: var(--dark-grey-400-opacity);
}

/* button tertiary */
.button__tertiary {
    background-color: transparent;
    border: 1px solid var(--dark-grey-400);
}

.button__tertiary:hover {
    color: var(--dark-grey-300);
    border: 1px solid var(--dark-grey-300);
}

.button__tertiary:active {
    color: var(--dark-grey-200);
    border: 1px solid var(--dark-grey-200);
}

.button__tertiary--disabled {
    background-color: transparent;
    color: var(--light-grey-500);
    border: 1px solid var(--light-grey-500);
}

/* button ghost */
.button__ghost {
    background-color: transparent;
}

.button__ghost:hover {
    background-color: var(--light-grey-200);
}

.button__ghost:active {
    background-color: var(--light-grey-300);
}

.button__ghost--disabled {
    background-color: transparent;
    color: var(--dark-grey-400-opacity);
}

/* button destsecondary */
.button__destructive {
    background-color: var(--red-100);
    color: var(--light-grey-100);
}

.button__destructive:hover {
    background-color: var(--red-200);
}

.button__destructive:active {
    background-color: var(--red-300);
}

.button__destructive--disabled {
    background-color: var(--red-100-opacity);
    color: var(--light-grey-100);
}

/* grid placement */
.component__button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-x-large);
}

.button__heading-primary {
    grid-column: 1/2;
    grid-row: 2/3;
}

.button__heading-secondary {
    grid-column: 1/2;
    grid-row: 3/4;    
}

.button__heading-tertiary {
    grid-column: 1/2;
    grid-row: 4/5;    
}

.button__heading-ghost {
    grid-column: 1/2;
    grid-row: 5/6;    
}

.button__heading-destructive {
    grid-column: 1/2;
    grid-row: 6/7;    
}

.button__heading-regular {
    grid-column: 2/3;
    grid-row: 1/2;    
}

.button__heading-disabled {
    grid-column: 3/4;
    grid-row: 1/2;    
}

.button__primary {
    grid-column: 2/3;
    grid-row: 2/3;
}

.button__primary--disabled {
    grid-column: 3/4;
    grid-row: 2/3;
}

.button__secondary {
    grid-column: 2/3;
    grid-row: 3/4;
}

.button__secondary--disabled {
    grid-column: 3/4;
    grid-row: 3/4;
}

.button__tertiary {
    grid-column: 2/3;
    grid-row: 4/5;
}
.button__tertiary--disabled {
    grid-column: 3/4;
    grid-row: 4/5;
}

.button__ghost {
    grid-column: 2/3;
    grid-row: 5/6;
}

.button__ghost--disabled {
    grid-column: 3/4;
    grid-row: 5/6;
}

.button__destructive {
    grid-column: 2/3;
    grid-row: 6/7;    
}

.button__destructive--disabled {
    grid-column: 3/4;
    grid-row: 6/7;    
}