/* card component */
.card {
    width: 300px;
    height: 400px;
    background-color: transparent;
    color: var(--dark-grey-400);
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}

.card__img-container {
    width: 300px;
    height: 250px;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    background-color: var(--light-grey-300);
}

.card__content-container {
    padding: var(--spacing-medium);
}

.card__heading {
    font-size: var(--body-large);
}

.card__subheading {
    font-size: var(--body-medium);
    margin-top: var(--spacing-x-small);
}

/* card states */
.card--hover {
    background-color: var(--light-grey-200);
}

.card--press {
    background-color: var(--light-grey-300);
}

.card--disabled {
    color: var(--dark-grey-400-opacity);
    cursor: auto;
}

/* grid placement */
.component__card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-x-large);
}

.card__heading-regular {
    grid-column: 1/2;
    grid-row: 1/2;
}

.card__heading-hover {
    grid-column: 1/2;
    grid-row: 3/4;    
}

.card__heading-press {
    grid-column: 1/2;
    grid-row: 5/6;    
}

.card__heading-disabled {
    grid-column: 1/2;
    grid-row: 7/8;    
}

.card--regular {
    grid-column: 1/2;
    grid-row: 2/3;
}

.card--hover {
    grid-column: 1/2;
    grid-row: 4/5;    
}

.card--press {
    grid-column: 1/2;
    grid-row: 6/7;    
}

.card--disabled {
    grid-column: 1/2;
    grid-row: 8/9;    
}

/* tablet */
@media screen and (min-width: 768px) {
    .component__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card__heading-regular {
        grid-column: 1/2;
        grid-row: 1/2;    
    }

    .card__heading-hover {
        grid-column: 2/3;
        grid-row: 1/2; 
    }

    .card__heading-press {
        grid-column: 1/2;
        grid-row: 3/4; 
    }

    .card__heading-disabled {
        grid-column: 2/3;
        grid-row: 3/4; 
    }

    .card--regular {
        grid-column: 1/2;
        grid-row: 2/3; 
    }

    .card--hover {
        grid-column: 2/3;
        grid-row: 2/3; 
    }

    .card--press {
        grid-column: 1/2;
        grid-row: 4/5; 
    }

    .card--disabled {
        grid-column: 2/3;
        grid-row: 4/5; 
    }
}

/* desktop x-large */
@media screen and (min-width: 1500px) {
    .component__card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .card__heading-regular {
        grid-column: 1/2;
        grid-row: 1/2; 
    }

    .card__heading-hover {
        grid-column: 2/3;
        grid-row: 1/2; 
    }

    .card__heading-press {
        grid-column: 3/4;
        grid-row: 1/2; 
    }

    .card__heading-disabled {
        grid-column: 4/5;
        grid-row: 1/2; 
    }

    .card--regular {
        grid-column: 1/2;
        grid-row: 2/3; 
    }

    .card--hover {
        grid-column: 2/3;
        grid-row: 2/3; 
    }

    .card--press {
        grid-column: 3/4;
        grid-row: 2/3; 
    }

    .card--disabled {
        grid-column: 4/5;
        grid-row: 2/3; 
    }    
}