/* card component */
.card {
    width: 300px;
    height: 400px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-small);
    cursor: pointer;
}

/* card light */
.card__light {
    color: var(--dark-grey-400);
}

.card__img-container {
    width: 300px;
    height: 250px;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

.card__light .card__img-container, 
.card__light--disabled .card__img-container {
    background-color: var(--light-grey-300);
}

.card__content-container {
    padding: var(--spacing-medium);
}

.card__heading {
    font-size: var(--body-large);
}

.card__subheading {
    font-size: var(--body-medium);
    margin-top: var(--spacing-x-small);
}

/* card states light */
.card__light:focus {
    background-color: var(--light-grey-100);
}

.card__light:hover {
    background-color: var(--light-grey-200);
}

.card__light:active {
    background-color: var(--light-grey-300);
}

.card__light--disabled {
    color: var(--dark-grey-400-opacity);
    cursor: auto;
}

/* card dark */
.card__dark {
    color: var(--light-grey-100);
}

.card__dark .card__img-container, 
.card__dark--disabled .card__img-container {
    background-color: var(--dark-grey-400);
}

/* card states dark */
.card__dark:focus {
    background-color: var(--dark-grey-300);
}

.card__dark:hover {
    background-color: var(--dark-grey-200);
}

.card__dark:active {
    background-color: var(--dark-grey-100);
}

.card__dark--disabled {
    background-color: var(--dark-grey-500);
    color: var(--dark-grey-300);
    cursor: auto;
}