/* form component */
form {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-small);
    padding: var(--spacing-x-large);
    background-color: var(--light-grey-200);
    font-size: var(--body-medium);
    color: var(--dark-grey-400);
}

.form__heading {
    font-size: var(--heading-small);
    text-align: center;
    padding: var(--spacing-medium);
}

.form__input-container {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: var(--spacing-small);
}

.form input {
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius-medium);
    border: none;
    margin-top: var(--spacing-x-small);
    background-color: var(--light-grey-100);
}

.form input::placeholder {
    color: var(--dark-grey-400-opacity);
    font-size: var(--body-medium);
}

.form__link-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: var(--spacing-x-small);
    margin-bottom: var(--spacing-x-large);
}

.form__link-container a {
    color: var(--dark-grey-400-opacity);
}

.form .button__primary {
    background-color: var(--blue-100);
}

.form__button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-small);
}

/* form states */
.form input:hover {
    background-color: var(--light-grey-200);
}

.form input:focus {
    outline: 1px solid var(--dark-grey-400);
}

.form--invalid input {
    outline: 1px solid var(--red-100);
}

/* button states */
.form .button__primary:hover {
    background-color: var(--blue-200);
}

.form .button__primary:active {
    background-color: var(--blue-300);
}

.form .form__button--ghost:hover {
    background-color: inherit;
}

/* placement */
.component__form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--spacing-medium);
}

.component__form-heading-regular {
    grid-column: 1/2;
    grid-row: 1/2;
}

.form {
    grid-column: 1/2;
    grid-row: 2/3;
}

.component__form-heading-invalid {
    grid-column: 1/2;
    grid-row: 3/4;
}

.form--invalid {
    grid-column: 1/2;
    grid-row: 4/5;
}

/* tablet */
@media screen and (min-width: 768px) {
    .component__form {
        grid-template-columns: repeat(2, 1fr);
    }

    .component__form-heading-regular {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .form {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .component__form-heading-invalid {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .form--invalid {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

/* desktop small */
@media screen and (min-width: 1024px) {
    .component__form {
        column-gap: var(--spacing-x-large);
    }
}