/* notification component */
.notification {
    width: 370px;
    height: auto;
    padding: var(--spacing-medium);
    border-radius: var(--border-radius-small);
}

.notification__light {
    background-color: #ffffffcc;
    backdrop-filter: blur(30px);
    color: var(--dark-grey-400);
}

.notification__dark {
    background-color: #444444cc;
    backdrop-filter: blur(30px);
    color: var(--light-grey-100);
}

.notification__top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification h3 {
    font-size: var(--body-medium);
}

.notification__time {
    font-size: var(--body-small);
}

.notification__light .notification__time {
    color: #444444cc;
}

.notification__dark .notification__time {
    color: #ffffffcc;
}

.notification__top-content svg {
    display: none;
}

.notification__text {
    margin-top: var(--spacing-x-small);
    font-size: var(--body-medium);
}

/* hover state */
.notification:hover .notification__time {
    display: none;
}

.notification:hover svg {
    display: block;
    cursor: pointer;
}

.notification__light:hover {
    background-color: var(--light-grey-100);
}

.notification__dark:hover {
    background-color: var(--dark-grey-400);
}